In [20]:
import pandas as pd

# Load the dataset (change path if needed)
df = pd.read_csv("data/fireprotdb_results.csv")

# Preview the data
print(df.head())

  experiment_id             protein_name uniprot_id pdb_id chain  position  \
0      LL000001  Haloalkane dehalogenase     P59336   1CQW     A       245
1      LL000002  Haloalkane dehalogenase     P59336   1CQW     A        95
2      LL000004  Haloalkane dehalogenase     P59336   1CQW     A       176
3      LL000005  Haloalkane dehalogenase     P59336   1CQW     A       171
4      LL000006  Haloalkane dehalogenase     P59336   1CQW     A       148

  wild_type mutation  ddG  dTm  ...  technique  technique_details  pH    tm  \
0         V        L  NaN  2.1  ...        NaN                NaN NaN  52.5
1         L        V  NaN -0.4  ...        NaN                NaN NaN  50.0
2         C        F  NaN  5.2  ...        NaN                NaN NaN  55.6
3         G        Q  NaN  3.1  ...        NaN                NaN NaN  53.5
4         T        L  NaN  1.1  ...        NaN                NaN NaN  51.5

   notes  publication_doi  publication_pubmed  hsw_job_id datasets  \
0    NaN              NaN                 NaN      xfyu58      NaN
1    NaN              NaN                 NaN      xfyu58      NaN
2    NaN              NaN                 NaN      xfyu58      NaN
3    NaN              NaN                 NaN      xfyu58      NaN
4    NaN              NaN                 NaN      xfyu58      NaN

                                            sequence
0  MSEIGTGFPFDPHYVEVLGERMHYVDVGPRDGTPVLFLHGNPTSSY...
1  MSEIGTGFPFDPHYVEVLGERMHYVDVGPRDGTPVLFLHGNPTSSY...
2  MSEIGTGFPFDPHYVEVLGERMHYVDVGPRDGTPVLFLHGNPTSSY...
3  MSEIGTGFPFDPHYVEVLGERMHYVDVGPRDGTPVLFLHGNPTSSY...
4  MSEIGTGFPFDPHYVEVLGERMHYVDVGPRDGTPVLFLHGNPTSSY...

[5 rows x 35 columns]

/var/folders/kw/st1ymrwj7q923cvxxbj099fh0000gn/T/ipykernel_33939/1620435626.py:4: DtypeWarning: Columns (23,24,25,26,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/fireprotdb_results.csv")

In [21]:
print(df.columns)

Index(['experiment_id', 'protein_name', 'uniprot_id', 'pdb_id', 'chain',
       'position', 'wild_type', 'mutation', 'ddG', 'dTm', 'is_curated', 'type',
       'derived_type', 'interpro_families', 'conservation', 'is_essential',
       'correlated_positions', 'is_back_to_consensus', 'secondary_structure',
       'asa', 'is_in_catalytic_pocket', 'is_in_tunnel_bottleneck', 'b_factor',
       'method', 'method_details', 'technique', 'technique_details', 'pH',
       'tm', 'notes', 'publication_doi', 'publication_pubmed', 'hsw_job_id',
       'datasets', 'sequence'],
      dtype='object')

In [22]:
print(df.shape)
protein_counts_1 = df["protein_name"].value_counts().reset_index()
protein_counts_1

(53445, 35)

                                     protein_name  count
0            Subtilisin-chymotrypsin inhibitor-2A  12276
1                     Tyrosine-protein kinase Fyn   2488
2                         Halohydrin dehalogenase   2480
3                                            ADHA   2404
4              Immunoglobulin G-binding protein G   2220
..                                            ...    ...
205  S-adenosylmethionine synthase isoform type-1      1
206           Non-specific lipid-transfer protein      1
207        Tetracycline repressor protein class D      1
208                                     Hydrolase      1
209  High-potential iron-sulfur protein isozyme I      1

[210 rows x 2 columns]

In [23]:
from Bio.PDB import PDBList, PDBParser

# Download structure from RCSB
pdb_id = "1CQW"  # example: replace with actual PDB ID
pdbl = PDBList()
pdbl.retrieve_pdb_file(pdb_id, file_format="pdb", pdir="./structures")

# Parse the structure
parser = PDBParser()
structure = parser.get_structure(pdb_id, f"./structures/pdb{pdb_id.lower()}.ent")

# Print chain IDs
for model in structure:
    for chain in model:
        print("Chain:", chain.id)

Structure exists: './structures/pdb1cqw.ent'
Chain: A

In [24]:
df_filtered = df[df['ddG'].notnull()]

df_filtered.shape

(39177, 35)

In [25]:
protein_counts = df_filtered["protein_name"].value_counts().reset_index()
protein_counts

                                     protein_name  count
0            Subtilisin-chymotrypsin inhibitor-2A  11160
1              Immunoglobulin G-binding protein G   2158
2                 Tryptophan synthase alpha chain   1915
3                                  Thermonuclease   1857
4                               10 kDa chaperonin   1764
..                                            ...    ...
154           Non-specific lipid-transfer protein      1
155        Tetracycline repressor protein class D      1
156                                 Alpha-amylase      1
157                        Ferredoxin, heterocyst      1
158  High-potential iron-sulfur protein isozyme I      1

[159 rows x 2 columns]

In [26]:
columns_to_keep = ['experiment_id', 'protein_name', 'uniprot_id', 'pdb_id', 'chain',
       'position', 'wild_type', 'mutation', 'ddG', 'sequence', 'secondary_structure', 'asa', 'b_factor', 'is_in_catalytic_pocket', 'conservation', 'is_essential']
df_subset = df_filtered[columns_to_keep]

In [27]:
df_subset.isna().sum()

experiment_id                0
protein_name                31
uniprot_id                  41
pdb_id                       0
chain                        0
position                     0
wild_type                    0
mutation                     0
ddG                          0
sequence                     0
secondary_structure       1836
asa                       1836
b_factor                  2561
is_in_catalytic_pocket       0
conservation              2911
is_essential                 0
dtype: int64

In [19]:
df_subset[df_subset["protein_name"].isna()]

,experiment_id,protein_name,uniprot_id,pdb_id,chain,position,wild_type,mutation,ddG,sequence
38362,VB01224,NaN,NaN,2IMM,A,106,A,G,0.0,DIVMTQSPSSLSVSAGERVTMSCKSSQSLLNSGNQKNFLAWYQQKP...
38367,VB01229,NaN,NaN,2IMM,A,15,A,L,-1.4,DIVMTQSPSSLSVSAGERVTMSCKSSQSLLNSGNQKNFLAWYQQKP...
39677,VB01375,NaN,NaN,2IMM,A,38,F,Y,-0.4,DIVMTQSPSSLSVSAGERVTMSCKSSQSLLNSGNQKNFLAWYQQKP...
40536,VB01496,NaN,NaN,2IMM,A,24,K,R,0.2,DIVMTQSPSSLSVSAGERVTMSCKSSQSLLNSGNQKNFLAWYQQKP...
40769,VB01527,NaN,NaN,2IMM,A,112,L,I,-0.4,DIVMTQSPSSLSVSAGERVTMSCKSSQSLLNSGNQKNFLAWYQQKP...
40832,VB01538,NaN,NaN,2IMM,A,21,M,I,-0.2,DIVMTQSPSSLSVSAGERVTMSCKSSQSLLNSGNQKNFLAWYQQKP...
40833,VB01539,NaN,NaN,2IMM,A,21,M,L,0.3,DIVMTQSPSSLSVSAGERVTMSCKSSQSLLNSGNQKNFLAWYQQKP...
40918,VB01551,NaN,NaN,2IMM,A,96,N,Q,-1.1,DIVMTQSPSSLSVSAGERVTMSCKSSQSLLNSGNQKNFLAWYQQKP...
41420,VB01593,NaN,NaN,2IMM,A,49,P,S,0.2,DIVMTQSPSSLSVSAGERVTMSCKSSQSLLNSGNQKNFLAWYQQKP...
41461,VB01599,NaN,NaN,2IMM,A,85,Q,E,0.4,DIVMTQSPSSLSVSAGERVTMSCKSSQSLLNSGNQKNFLAWYQQKP...
41888,VB01666,NaN,NaN,2IMM,A,69,T,S,-0.3,DIVMTQSPSSLSVSAGERVTMSCKSSQSLLNSGNQKNFLAWYQQKP...
49304,VB03838,NaN,NaN,1YYX,A,36,A,G,2.7,ADLEDNWETLNDNLKVIEKADNAAQVKDALTKMRAAALDAQKATPP...
49305,VB03839,NaN,NaN,1YYX,A,87,A,G,3.0,ADLEDNWETLNDNLKVIEKADNAAQVKDALTKMRAAALDAQKATPP...
49306,VB03840,NaN,NaN,1YYX,A,90,A,G,2.9,ADLEDNWETLNDNLKVIEKADNAAQVKDALTKMRAAALDAQKATPP...
49307,VB03841,NaN,NaN,1YYX,A,61,F,A,5.5,ADLEDNWETLNDNLKVIEKADNAAQVKDALTKMRAAALDAQKATPP...
49308,VB03842,NaN,NaN,1YYX,A,65,F,A,2.5,ADLEDNWETLNDNLKVIEKADNAAQVKDALTKMRAAALDAQKATPP...
49309,VB03843,NaN,NaN,1YYX,A,72,I,A,4.7,ADLEDNWETLNDNLKVIEKADNAAQVKDALTKMRAAALDAQKATPP...
49310,VB03844,NaN,NaN,1YYX,A,98,I,A,3.8,ADLEDNWETLNDNLKVIEKADNAAQVKDALTKMRAAALDAQKATPP...
49311,VB03845,NaN,NaN,1YYX,A,48,L,A,4.2,ADLEDNWETLNDNLKVIEKADNAAQVKDALTKMRAAALDAQKATPP...
49312,VB03846,NaN,NaN,1YYX,A,68,L,A,4.0,ADLEDNWETLNDNLKVIEKADNAAQVKDALTKMRAAALDAQKATPP...
49313,VB03847,NaN,NaN,1YYX,A,76,L,A,3.4,ADLEDNWETLNDNLKVIEKADNAAQVKDALTKMRAAALDAQKATPP...
49314,VB03848,NaN,NaN,1YYX,A,94,L,A,1.7,ADLEDNWETLNDNLKVIEKADNAAQVKDALTKMRAAALDAQKATPP...
49315,VB03849,NaN,NaN,1YYX,A,33,M,A,3.5,ADLEDNWETLNDNLKVIEKADNAAQVKDALTKMRAAALDAQKATPP...
49316,VB03850,NaN,NaN,1YYX,A,58,M,A,3.6,ADLEDNWETLNDNLKVIEKADNAAQVKDALTKMRAAALDAQKATPP...
49317,VB03851,NaN,NaN,1YYX,A,84,V,A,3.9,ADLEDNWETLNDNLKVIEKADNAAQVKDALTKMRAAALDAQKATPP...
49323,VB03857,NaN,NaN,2IMM,A,106,A,G,0.0,DIVMTQSPSSLSVSAGERVTMSCKSSQSLLNSGNQKNFLAWYQQKP...
49339,VB03866,NaN,NaN,2IMM,A,85,Q,E,0.4,DIVMTQSPSSLSVSAGERVTMSCKSSQSLLNSGNQKNFLAWYQQKP...
49340,VB03869,NaN,NaN,2IMM,A,69,T,S,-0.3,DIVMTQSPSSLSVSAGERVTMSCKSSQSLLNSGNQKNFLAWYQQKP...
49388,VB03886,NaN,NaN,2IMM,A,112,L,I,-0.4,DIVMTQSPSSLSVSAGERVTMSCKSSQSLLNSGNQKNFLAWYQQKP...
49389,VB03887,NaN,NaN,2IMM,A,38,F,Y,-0.4,DIVMTQSPSSLSVSAGERVTMSCKSSQSLLNSGNQKNFLAWYQQKP...
49392,VB03892,NaN,NaN,2IMM,A,96,N,Q,-1.1,DIVMTQSPSSLSVSAGERVTMSCKSSQSLLNSGNQKNFLAWYQQKP...